/* Estilos para la sección de inicio de sesión */
.login-section {
    display: flex; /* Usa flexbox para alinear los elementos */
    flex-direction: column; /* Organiza los elementos en una columna */
    align-items: center; /* Centra los elementos horizontalmente */
    justify-content: flex-start; /* Alinea los elementos al principio del contenedor */
    min-height: 100vh; /* Asegura que la sección ocupe al menos el 100% de la altura de la ventana */
    padding-top: 50px; /* Espaciado superior para separar del borde superior */
}

/* Estilos para el título de la aplicación */
.app-title {
    font-size: 10vw; /* Tamaño del texto relativo al ancho de la ventana */
    color: #f00cb3; /* Color del texto */
    margin-bottom: 20px; /* Espaciado inferior para separar del siguiente elemento */
    text-align: center; /* Centra el texto */
    margin-top: 0; /* Elimina el espaciado superior */
}

/* Ajustes para pantallas grandes */
@media (min-width: 1024px) {
    .app-title {
        font-size: 88px; /* Tamaño fijo del texto para pantallas grandes */
    }
}

/* Estilos para el subtítulo */
.login-section h2 {
    font-size: 6vw; /* Tamaño del texto relativo al ancho de la ventana */
    color: #f509f5; /* Color del texto */
    margin-bottom: 20px; /* Espaciado inferior para separar del siguiente elemento */
    text-align: center; /* Centra el texto */
    text-decoration: underline; /* Añade subrayado al texto */
    text-decoration-color: #f00cb3; /* Color del subrayado */
    text-decoration-thickness: 2px; /* Grosor del subrayado */
    text-underline-offset: 4px; /* Distancia entre el texto y el subrayado */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
    .app-title {
        font-size: 8vw; /* Ajusta el tamaño del texto en pantallas más pequeñas */
    }

    .login-section h2 {
        font-size: 5vw; /* Ajusta el tamaño del texto en pantallas más pequeñas */
    }
}

/* Ajustes para pantallas muy pequeñas */
@media (max-width: 480px) {
    .app-title {
        font-size: 12vw; /* Ajusta aún más el tamaño del texto en pantallas muy pequeñas */
    }

    .login-section h2 {
        font-size: 8vw; /* Ajusta aún más el tamaño del texto en pantallas muy pequeñas */
    }
}
