.music-section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.4); /* Fondo oscuro con algo de transparencia */
    backdrop-filter: blur(10px); /* Efecto de vidrio esmerilado */
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000; /* Borde negro */
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2); /* Fondo blanco translúcido */
    color: #000000; /* Texto negro */
}

.song-list {
    margin-bottom: 20px;
}

.song-list ul {
    list-style-type: none;
    padding: 0;
}

.song-list li {
    display: flex;
    justify-content: space-between; /* Espacio entre el texto y los botones */
    align-items: center; /* Asegura que los botones estén alineados verticalmente */
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2); /* Fondo blanco translúcido */
    color: #000000; /* Texto negro */
}

.song-list li button {
    margin: 0 3px; /* Espaciado más pequeño entre los botones */
    padding: 4px 6px; /* Botones aún menos extensos horizontalmente */
    font-size: 12px; /* Tamaño de fuente reducido para mayor compactación */
    background-color: rgba(26, 26, 26, 0.7); /* Fondo negro con transparencia */
    color: #ffffff; /* Texto blanco */
    border: 1px solid transparent; /* Borde inicial transparente */
    border-radius: 4px; /* Borde redondeado */
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.25s ease;
}

.song-list li button:hover {
    background-color: #0088cc; /* Celeste más oscuro al pasar el mouse */
    border-color: #00aaff; /* Celeste oscuro para el borde al hacer hover */
}

.song-list li button:last-child {
    background-color: rgba(244, 67, 54, 0.8); /* Rojo translúcido para el botón de eliminar */
}

.song-list li button:last-child:hover {
    background-color: #d32f2f; /* Rojo más oscuro al pasar el mouse */
}

.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.player-container {
    margin-top: 20px;
}

.creation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 5px;
}

.creation-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #00aaff; /* Celeste oscuro */
    color: #ffffff; /* Blanco para el texto */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.creation-buttons button:hover {
    background-color: #0088cc; /* Color más oscuro al pasar el mouse */
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.modal-content {
    background-color: rgba(0, 0, 255, 0.2); /* Fondo azul translúcido */
    backdrop-filter: blur(10px); /* Efecto de vidrio esmerilado */
    padding: 15px;
    border-radius: 5px;
    max-width: 400px;
    width: 90%;
    max-height: 80vh;
    overflow-y: auto;
    color: #ffffff; /* Texto blanco para el contraste */
}

.modal-content h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #ffffff; /* Blanco para contraste */
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #000000; /* Borde negro */
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.2); /* Fondo blanco translúcido */
    color: #000000; /* Texto negro */
}

.modal-content button {
    margin-top: 10px;
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #00aaff; /* Celeste oscuro para los botones */
    color: white;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #0088cc; /* Celeste más oscuro al pasar el mouse */
}

.modal-content button:last-child {
    background-color: #f44336; /* Rojo para el botón de cancelación */
    margin-left: 10px;
}

.filter-button {
    background-color: #808080; /* Gris */
    color: #00aaff; /* Celeste oscuro */
    padding: 5px 10px;
    font-size: 0.8em;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-button.active {
    background-color: #00aaff; /* Celeste oscuro para el botón activo */
    color: white;
}

.filter-scroll-area {
    max-height: calc(80vh - 120px);
    overflow-y: auto;
}

.modal-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
