/* Estilo principal para la sección de registro */
.registro-section {
  display: flex; /* Usa Flexbox para el diseño */
  flex-direction: column; /* Organiza los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  height: 100%; /* Ocupa toda la altura disponible */
  text-align: center; /* Centra el texto */
  padding: 20px; /* Espaciado interno */
  box-sizing: border-box; /* Incluye padding en el ancho total */
  background-color: #E5E5E5; /* Color de fondo */
}

/* Estilo para el título en la sección de registro */
.registro-section h1 {
  font-size: 24px; /* Tamaño del texto */
  margin-bottom: 20px; /* Espaciado inferior */
  color: #2F242C; /* Color del texto */
}

/* Estilo para el formulario de registro */
.registro-form {
  display: flex; /* Usa Flexbox para el diseño */
  flex-direction: column; /* Organiza los elementos en una columna */
  width: 100%; /* Ancho del formulario */
  max-width: 300px; /* Ancho máximo del formulario */
}

/* Estilo para los campos de entrada y botones dentro del formulario */
.registro-form input,
.registro-form button {
  margin-bottom: 10px; /* Espaciado inferior */
  padding: 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño del texto */
  width: 100%; /* Ancho del elemento */
  box-sizing: border-box; /* Incluye padding en el ancho total */
}

/* Estilo específico para los campos de entrada */
.registro-form input {
  border: 2px solid #A1A892; /* Borde del campo de entrada */
  border-radius: 5px; /* Esquinas redondeadas */
}

/* Estilo específico para los botones dentro del formulario */
.registro-form button {
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  background-color: #E6D884; /* Color de fondo del botón */
  color: #2F242C; /* Color del texto */
  border: none; /* Elimina el borde */
  border-radius: 5px; /* Esquinas redondeadas */
  transition: background-color 0.3s; /* Transición suave para el cambio de color */
}

/* Estilo para el botón cuando se pasa el cursor sobre él */
.registro-form button:hover {
  background-color: #A1A892; /* Cambia el color de fondo en hover */
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .registro-section h1 {
      font-size: 20px; /* Ajusta el tamaño del texto en pantallas pequeñas */
  }
}
