.registro-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #E5E5E5;
  }
  
  .registro-section h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #2F242C;
  }
  
  .registro-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }
  
  .registro-form input,
  .registro-form button {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .registro-form input {
    border: 2px solid #A1A892;
    border-radius: 5px;
  }
  
  .registro-form button {
    cursor: pointer;
    background-color: #E6D884;
    color: #2F242C;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .registro-form button:hover {
    background-color: #A1A892;
  }
  
  @media (max-width: 768px) {
    .registro-section h1 {
      font-size: 20px;
    }
  }
  