/* Contenedor raíz */
#root {
  max-width: 1280px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 2rem; /* Relleno interno */
  text-align: center; /* Centra el texto dentro del contenedor */
}

/* Contenedor principal de la aplicación */
.app-container {
  display: flex; /* Usa Flexbox para el diseño */
  flex-direction: column; /* Organiza los elementos en una columna */
  height: 110%; /* Asegura que el contenedor ocupe un 110% de la altura disponible */
}

/* Hace que todos los hijos de .app-container crezcan igual */
.app-container > * {
  flex: 1;
}

/* Estilo para el logo */
.logo {
  height: 6em; /* Altura del logo */
  padding: 1.5em; /* Relleno alrededor del logo */
  will-change: filter; /* Indica que el filtro puede cambiar para optimización */
  transition: filter 300ms; /* Transición suave para el filtro */
}

/* Efecto al pasar el ratón sobre el logo */
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* Sombra de gota azul al pasar el ratón */
}

/* Efecto específico para el logo de React al pasar el ratón */
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); /* Sombra de gota verde de React al pasar el ratón */
}

/* Animación de rotación del logo */
@keyframes logo-spin {
  from {
    transform: rotate(0deg); /* Comienza en 0 grados */
  }
  to {
    transform: rotate(360deg); /* Rota 360 grados */
  }
}

/* Aplica la animación solo si el usuario no ha desactivado el movimiento */
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear; /* Rota el logo infinitamente */
  }
}

/* Estilo para las tarjetas */
.card {
  padding: 2em; /* Relleno interno */
}

/* Estilo para el texto de documentación */
.read-the-docs {
  color: #888; /* Color gris para el texto */
}
